@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  font-family: 'Pirata One', cursive;
}


:root {
  --background-color-1: 	#f3f1e7;
  --background-color-2: 	#dfc064;
  --background-color-3: #f5e3a2;
  --font-color-1: 	#382f2f;
  --font-color-2: #7b7875;



}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}